/fludiobe/.env
/appfludio/.env

/dist/
/tmp/
/out-tsc/


/node_modules/

/bazel-out/

.idea/
.vscode/
*.iml
*.iws
*.ipr

.env
.env.*

*.log

.angular/cache

stopper.sh

server-stopper.sh

*.pyc
__pycache__/

venv/
env/

db.sqlite3




local_settings.py

.idea/
.vscode/

.DS_Store # macOS
Thumbs.db # Windows

*.log