/fludiobe/.env
/appfludio/.env

/dist/
/tmp/
/out-tsc/


/node_modules/

# Only exists if Bazel was run
/bazel-out/

# IDEs and editors
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Environment variables
.env
.env.*

# Log files
*.log

# Miscellaneous
.angular/cache