\			body {
				font-family: verdana; 
				font-size: 15px;
				color: #fff;
				background-color:lightseagreen;



			}
			
canvas::backdrop {
  background-color: black;
}
			input {
				margin: 2%;
			}
			
			.button {
				background-color: #606060;
				border: none;
				color: white;
				padding: 10px 10px;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
			}
			.slider {
				-webkit-appearance: none;
				width: 80px;
				height: 6px;
				border-radius: 5px;
				background: #d3d3d3;
				outline: none;
				opacity: 0.7;
				-webkit-transition: .2s;
				transition: opacity .2s;
			}

			.ui {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
			}

			.ui-column-1 {
								padding-left: 3vw;
				grid-column: 1;
				padding-bottom: 0;
			}

			.ui-column-2 {
								padding-left: 3vw;
				grid-column: 2;
								padding-bottom: 0;
								align-self: end;

			}

						.ui-column-3 {
								padding-left: 3vw;
				grid-column: 3;
								padding-bottom: 0;

			}